/* Colors */
/* Changed default value */
/* Indent for filters */
.button-wrapper {
  margin-top: 15px; }

.export-sets {
  margin-bottom: 45px; }
  .export-sets p {
    max-width: 520px; }

.no-sets {
  font-size: 21px;
  line-height: 23px;
  color: #a6a8a9; }

.gray-block {
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative; }
  .gray-block .close {
    opacity: 1;
    margin-right: 10px;
    margin-top: 10px; }
  .gray-block .wrapper-data {
    border-radius: 5px; }
    .gray-block .wrapper-data:first-of-type {
      padding-bottom: 0; }
    .gray-block .wrapper-data:last-of-type {
      background-color: #e6e9e9; }
    .gray-block .wrapper-data.download-block {
      background-color: #d1dfeb; }
    .gray-block .wrapper-data.block-contains-error {
      background-color: #f6d6d0; }
    .gray-block .wrapper-data .format-data .action-block {
      margin-top: 15px; }
      .gray-block .wrapper-data .format-data .action-block.wrapper-progress {
        margin-top: 20px;
        margin-bottom: 5px; }

.selected-data-range,
.format-data {
  min-height: 41px;
  font: 14px/18px "RobotoBold";
  position: relative; }

.export-row .format-data:before {
  background: url("../img/Exprt-icons.png") no-repeat;
  background-size: 63px 240px;
  background-position: 5px -175px; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .export-row .format-data:before {
      /* on retina, use image that's scaled by 2 */
      background-image: url("../img/Exprt-icons.png");
      background-size: 63px 240px; } }
.export-row .format-data.onedrive-icon:before {
  background-position: 5px -5px; }
.export-row .format-data.dropbox-icon:before {
  background-position: 5px -63px; }
.export-row .format-data.ftp-icon:before {
  background-position: 5px -120px; }

.export .page-header {
  margin-bottom: 30px; }
.export h3 {
  margin-bottom: 15px; }

.export-sets h3 + p {
  margin-bottom: 20px; }

.report {
  font-size: 14px;
  line-height: 18px; }
  .report .format-data {
    margin-bottom: 5px;
    padding-left: 0; }
    .report .format-data:before {
      left: -80px; }
  .report .wrapper-data {
    padding: 10px 40px 10px 100px; }
  .report .gray-text-row {
    margin-bottom: 10px; }
  .report .status {
    text-transform: uppercase;
    letter-spacing: 1px;
    font: 12px/14px "TrebuchetMSBold";
    margin-right: 10px;
    display: inline-block; }
  .report .cancelable-progress {
    margin-top: 4px;
    margin-bottom: 5px; }
  .report .allign-left {
    float: left; }
  .report .download {
    margin-right: 10px;
    margin-bottom: 5px; }

.archive-info {
  font: 12px/18px "RobotoRegular";
  color: #969a9a;
  letter-spacing: 1px;
  word-break: break-word; }
  .archive-info:only-child {
    max-width: auto; }

.structure-block {
  margin-bottom: 30px; }
  .structure-block h5 {
    margin-bottom: 15px; }
  .structure-block .bootstrap-select {
    left: -10px; }
  .structure-block .form-group {
    margin-bottom: 5px; }
  .structure-block label {
    font: 14px/16px "RobotoRegular";
    font-weight: normal;
    color: #6b6b6b; }
  .structure-block input.checkbox-filter ~ label:hover, .structure-block input.checkbox-filter ~ label:focus {
    color: #3f3f3f; }
  .structure-block input.checkbox-filter ~ label .tick {
    left: -5px; }
  .structure-block input.checkbox-filter:checked ~ label {
    color: #3f3f3f; }
  .structure-block .form-date {
    float: left; }
    .structure-block .form-date + .form-date {
      margin-left: 20px; }

.structure-block .data-type-row, .structure-block .export-row {
  margin-left: -10px;
  position: relative;
  background-color: #edeff0; }
  .structure-block .data-type-row label, .structure-block .export-row label {
    display: block;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 15px;
    height: 61px; }
  .structure-block .data-type-row:nth-of-type(2n), .structure-block .export-row:nth-of-type(2n) {
    background-color: #f8f9f9; }
  .structure-block .data-type-row .format-data, .structure-block .export-row .format-data {
    max-width: calc(100% - 30px);
    float: left;
    padding-top: 11px;
    padding-bottom: 11px; }
  .structure-block .data-type-row .tick, .structure-block .export-row .tick {
    float: left;
    margin-top: 11px; }

@media (max-width: 880px) {
  .report .cancelable-progress {
    width: 100%; }

  .structure-block .form-date {
    float: none; }
    .structure-block .form-date + .form-date {
      margin-left: 0; } }
@media (max-width: 600px) {
  .report .archive-info {
    float: left;
    max-width: 100%;
    margin-left: 0;
    margin-top: 10px; }
  .report.gray-block {
    padding-left: 0; } }
